.down1 {
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  min-height: 217vw;
  display: block;
  position: relative;
  padding-bottom: 2rem;
}

.down1-ceiling {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.down1-big_sign {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 59vw;
  height: auto;
  z-index: 2;
}

.down1-left_sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.5vw;
  z-index: 2;
}

.down1-right_protrusion {
  position: absolute;
  top: 0;
  right: 0;
  width: 21.3vw;
  z-index: 1;
}

.down1-vending {
  z-index: 4;
  position: relative;
  width: 55vw;
  height: auto;
  aspect-ratio: calc(1039/2558);
  margin: 0 auto;
}

.down1-vending-image {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.down1-vending-card_reader {
  position: absolute;
  right: 3%;
  top: 29%;
  width: 10.9vw;
  z-index: 9;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.down1-left_side {
  position: absolute;
  top: 0;
  left: 0;
}

.down1-left_shelf {
  position: absolute;
  top: 16.7vw;
  left: 0;
  width: 21.5vw;
  z-index: 4;
}

.down1-lucky_cat {
  position: absolute;
  top: 4.5vw;
  left: 0;
  width: 14vw;
  z-index: 3;
}

.down1-right_side {
  position: absolute;
  top: 0;
  right: 0;
}

.down1-right_shelf {
  position: absolute;
  top: 16.7vw;
  right: 0;
  width: 20.5vw;
  z-index: 4;
}

.down1-clay_barrels {
  position: absolute;
  top: 16vw;
  right: 8vw;
  width: 14vw;
  z-index: 3;
}

.down1-right_shelf_underneath {
  position: absolute;
  top: 103.7vw;
  right: 0;
  width: 22vw;
  z-index: 6;
}